<section id="inspo">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Quotes You Need</h3>
      </div>
    </div>
  </div>
  <div class="card-group">
    <div class="row">
      <div class="col-md-3" id="cols" *ngFor='let quote of woe; let i=index'>
        <div class="card">
          <img src="../../assets/pexels-rafael-guajardo-604684.jpg" class="card-img-top" alt="smoke"/>
          <ul class="words">
            <li><h5 class="card-title" appHighlight>{{quote.quoteTitle}}</h5></li>
            <li class="sm1"><p><span class="smalls">Posted by:</span>{{quote.owner}}</p></li>
            </ul>
           
            <div class="card-footer">
            <ul class="navs">
              <li>
                <button type="submit" (click)='toggleDescription(i)' id="rBtn" class="btn btn-success">Read Quote</button>
              </li>
              <li class="sm1">
                <p><span class="smalls">Posted On:</span> {{quote.completeDate|date}}</p>
              </li>
            </ul>
            </div>
            <app-about-quote *ngIf='quote.showQuoteDescription' [addQuote]='quote' (qDelete)='removeQuote($event,i)'>
          </app-about-quote> 
          </div>
        </div>
      </div>
    </div>   

 <section class="mod">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-create-quote (addQuote)="addNewQuote($event)"></app-create-quote>
      </div>
    </div>
  </div>
</section>            
          
       
           
      
     


</section>
<app-footer></app-footer>
