<section id="inspo">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Quotes You Need</h3>
      </div>
    </div>
  </div>
  <div class="card-group">
    <div class="row">
      <div class="col-md-3" id="cols" *ngFor='let quote of woe; let i=index'>
        <div class="card">
          <img src="../../assets/pexels-rafael-guajardo-604684.jpg" class="card-img-top" alt="smoke"/>
          <div class="card-body">
            <h5 class="card-title">{{quote.quoteTitle}}</h5>
            <p class="card-text">
              <ul>
                <li></li>
              </ul>
            
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<app-footer></app-footer>
