<section id="hero">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="hero-header">
                  <h3>Giving You The Best Inspirational Quotes</h3><h3> Taking It <span class="t-hero"> One Day At A Time</span> ! </h3>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md12">
              <div class="scrollBut">
                  <a href="#quotes">
                      <button id="myBtn" class="btn btn-success">Read Quote <i class="fa fa-smile" style="font-size:20px;"></i></button>
                  </a>
              </div>
          </div>
      </div>
  </div>
</section>
<app-quotes></app-quotes>
